{:paths ["clojure"]
 :deps {metosin/jsonista {:mvn/version "0.3.8"}
        org.clj-commons/pretty {:mvn/version "3.0.0"}}

 :aliases {:build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                                slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :extra-paths ["./build.clj"]
                   :ns-default build}}}
